<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.neamar.kiss">
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- To display contacts when searching -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- To call a phone number directly without displaying the dialer -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Display notification drawer -->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" /> <!-- Display notification drawer -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" /> <!-- Ability to uninstall an app from KISS -->
    <!-- Android 11 now makes listing apps a non-default permission
    https://developer.android.com/training/basics/intents/package-visibility
    -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- for Zen Alarm -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- for blue light filter -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BIND_APPWIDGET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- for storing to google drive -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" /> <!-- for storing to google drive -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- for storing to google drive -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- for wifi toggle -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- for wifi toggle -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- for Google Drive API. Used when saving&loading launcher layout to users own google drive -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- for Zen Alarm -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/> <!-- for Zen Alarm -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/> <!-- for Zen Alarm -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/> <!-- for Zen Alarm -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- for Zen Flashlight, needed to be able to enable camera flash -->

    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" /> <!-- for badge support -->
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" /> <!-- for badge support -->
    <uses-permission android:name="com.huawei.android.totemweather.permission.ACCESS_WEATHERCLOCK_PROVIDER" /> <!-- for Huawei widgets -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:name=".KissApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:theme="@style/AppThemeLight"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="fi.zmengames.zen.AlarmActivity"
            android:noHistory="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="true">
        </activity>

        <receiver
            android:name=".ZenWidget"
            android:label="Zen Flashlight"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/zen_widget_info" />
        </receiver>
        <receiver android:name=".broadcast.BadgeCountHandler"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BADGE_COUNT_UPDATE" />
                <action android:name="com.htc.launcher.action.UPDATE_SHORTCUT" />
                <action android:name="com.sonyericsson.home.action.UPDATE_BADGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="fi.zmengames.zen.ZenAdmin"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- Can be removed once we target SDK 24+ -->
        <meta-data
            android:name="android.max_aspect"
            android:value="3.0" />
        <!--
        clearTaskOnLaunch: when viewing Zen Launcher settings, display the main activity when pressing home https://github.com/Neamar/KISS/issues/117
        launchMode=singleTop: call onNewIntent() when pressing home again while already viewing main activity, also redisplay main activity when viewing full-screen contact from picture
        windowSoftInputMode: hide keyboard by default
        stateNotNeeded: rebuild the whole UI each time onResume() is called
        -->
        <activity
            android:name=".MainActivity"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="user"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.content.pm.action.CONFIRM_PIN_SHORTCUT" />
            </intent-filter>

            <meta-data
                android:name="com.android.systemui.action_assist_icon"
                android:resource="@mipmap/ic_launcher" />
        </activity>
        <activity
            android:name=".DummyActivity"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/activity_setting"
            android:theme="@style/SettingTheme"
            android:parentActivityName=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="fi.zmengames.zen.AppGridActivity" />

        <receiver
            android:name=".broadcast.LocaleChangedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver> <!-- On incoming calls, add user to history -->
        <receiver
            android:name=".broadcast.IncomingCallHandler"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver> <!-- Intents received used to install/uninstall shortcuts from other applications -->
        <receiver android:name="fi.zmengames.zen.ScreenReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="fi.zmengames.zen.AlarmReceiver"
            android:process=":remote"
            android:exported = "false"/>
        <receiver android:name="fi.zmengames.zen.BootUpReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service
            android:name=".broadcast.IncomingCallScreeningService"
            android:permission="android.permission.BIND_SCREENING_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.telecom.CallScreeningService" />
            </intent-filter>
        </service>


        <service android:name=".dataprovider.AppProvider" />
        <service android:name=".dataprovider.ContactsProvider" />
        <service android:name=".dataprovider.SettingsProvider" />
        <service android:name=".dataprovider.ShortcutsProvider" />
        <service
            android:name="fi.zmengames.zen.LauncherService"
            android:enabled="true" />
        <service
            android:name=".notification.NotificationListener"
            android:exported = "true"
            android:enabled="@bool/notification_service_enabled"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>
    <queries>
        <package android:name="com.sec.badge" />
    </queries>
</manifest>