name: Android CI

on:
  push:
    branches: [ zen-launcher ]
  pull_request:
    branches: [ zen-launcher ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew assembleRelease
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.2.4
      with:
        name: assets-for-download
        path: app/build/outputs
